In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
PATH = r"C:\Users\Debojit Nath\Downloads\ml-latest-small\ml-latest-small\ratings.csv"
ratings = pd.read_csv(PATH)
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
movies = pd.read_csv(r"C:\Users\Debojit Nath\Downloads\ml-latest-small\ml-latest-small\movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
g = ratings.groupby('userId')['rating'].count()
top_users = g.sort_values(ascending=False)[:15]
g = ratings.groupby('movieId')['rating'].count()
top_movies = g.sort_values(ascending=False)[:15]
top_r = ratings.join(top_users, rsuffix='_r', how='inner', on='userId')
top_r = top_r.join(top_movies, rsuffix='_r', how='inner', on='movieId')
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

movieId,1,50,110,260,296,318,356,480,527,589,593,1196,2571,2858,2959
userId,,,,,,,,,,,,,,,
68,2.5,3.0,2.5,5.0,2.0,3.0,3.5,3.5,4.0,3.5,3.5,5.0,4.5,5.0,2.5
182,4.0,4.5,3.5,3.5,5.0,4.5,5.0,3.5,4.0,2.0,4.5,3.0,5.0,5.0,5.0
249,4.0,4.0,5.0,5.0,4.0,4.5,4.5,4.0,4.5,4.0,4.0,5.0,5.0,4.5,5.0
274,4.0,4.0,4.5,3.0,5.0,4.5,4.5,3.5,4.0,4.5,4.0,4.5,4.0,5.0,5.0
288,4.5,NaN,5.0,5.0,5.0,5.0,5.0,2.0,5.0,4.0,5.0,4.5,3.0,NaN,3.5
307,4.0,4.5,3.5,3.5,4.5,4.5,4.0,3.5,4.5,2.5,4.5,3.0,3.5,4.0,4.0
380,5.0,4.0,4.0,5.0,5.0,3.0,5.0,5.0,NaN,5.0,5.0,5.0,4.5,NaN,4.0
387,NaN,4.5,3.5,4.5,5.0,3.5,4.0,3.0,NaN,3.5,4.0,4.5,4.0,4.5,4.5
414,4.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0
448,5.0,4.0,NaN,5.0,5.0,NaN,3.0,3.0,NaN,3.0,5.0,5.0,2.0,4.0,4.0
474,4.0,4.0,3.0,4.0,4.0,5.0,3.0,4.5,5.0,4.0,4.5,5.0,4.5,3.5,4.0
599,3.0,3.5,3.5,5.0,5.0,4.0,3.5,4.0,NaN,4.5,3.0,5.0,5.0,5.0,5.0
603,4.0,NaN,1.0,4.0,5.0,NaN,3.0,NaN,3.0,NaN,5.0,3.0,5.0,5.0,4.0
606,2.5,4.5,3.5,4.5,5.0,3.5,4.0,2.5,5.0,3.5,4.5,4.5,5.0,4.5,5.0
610,5.0,4.0,4.5,5.0,5.0,3.0,3.0,5.0,3.5,5.0,4.5,5.0,5.0,3.5,5.0

In [6]:
user_enc = LabelEncoder()
ratings['user'] = user_enc.fit_transform(ratings['userId'].values)
n_users = ratings['user'].nunique()
item_enc = LabelEncoder()
ratings['movie'] = item_enc.fit_transform(ratings['movieId'].values)
n_movies = ratings['movie'].nunique()
ratings['rating'] = ratings['rating'].values.astype(np.float32)
min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])
n_users, n_movies, min_rating, max_rating
ratings

        userId  movieId  rating   timestamp  user  movie
0            1        1     4.0   964982703     0      0
1            1        3     4.0   964981247     0      2
2            1        6     4.0   964982224     0      5
3            1       47     5.0   964983815     0     43
4            1       50     5.0   964982931     0     46
...        ...      ...     ...         ...   ...    ...
100831     610   166534     4.0  1493848402   609   9416
100832     610   168248     5.0  1493850091   609   9443
100833     610   168250     5.0  1494273047   609   9444
100834     610   168252     5.0  1493846352   609   9445
100835     610   170875     3.0  1493846415   609   9485

[100836 rows x 6 columns]

In [7]:
X = ratings[['user', 'movie']].values
y = ratings['rating'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((90752, 2), (10084, 2), (90752,), (10084,))

In [8]:
n_factors = 50
X_train_array = [X_train[:, 0], X_train[:, 1]]
X_test_array = [X_test[:, 0], X_test[:, 1]]

In [10]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Reshape, Dot
#from tensorflow.keras.layers.embeddings import Embedding
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.regularizers import l2
def RecommenderV1(n_users, n_movies, n_factors):
    user = Input(shape=(1,))
    u = tf.keras.layers.Embedding(n_users, n_factors, embeddings_initializer='he_normal',
                  embeddings_regularizer=l2(1e-6))(user)
    u = Reshape((n_factors,))(u)
    
    movie = Input(shape=(1,))
    m = tf.keras.layers.Embedding(n_movies, n_factors, embeddings_initializer='he_normal',
                  embeddings_regularizer=l2(1e-6))(movie)
    m = Reshape((n_factors,))(m)
    
    x = Dot(axes=1)([u, m])
    model = Model(inputs=[user, movie], outputs=x)
    opt = Adam(lr=0.001)
    model.compile(loss='mean_squared_error', optimizer=opt)
    return model

In [16]:
model = RecommenderV1(n_users, n_movies, n_factors)
model.summary()

Model: "functional_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding_5 (Embedding)         (None, 1, 50)        30500       input_1[0][0]
__________________________________________________________________________________________________
embedding_6 (Embedding)         (None, 1, 50)        486200      input_2[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 50)           0           embedding_5[0][0]
__________________________________________________________________________________________________
reshape_2 (Reshape)             (None, 50)           0           embedding_6[0][0]
__________________________________________________________________________________________________
dot (Dot)                       (None, 1)            0           reshape_1[0][0]
                                                                 reshape_2[0][0]
==================================================================================================
Total params: 516,700
Trainable params: 516,700
Non-trainable params: 0
__________________________________________________________________________________________________

In [17]:
history = model.fit(x=X_train_array, y=y_train, batch_size=64, epochs=5,
                    verbose=1, validation_data=(X_test_array, y_test))

Epoch 1/5
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001AB816B0708> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001AB816B0708> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

C:\Users\Debojit Nath\Anaconda3\envs\tf2\lib\site-packages\tensorflow\python\framework\indexed_slices.py:433: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

1406/1418 [============================>.] - ETA: 0s - loss: 12.2164WARNING:tensorflow:AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x000001ABAFA4C4C8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x000001ABAFA4C4C8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
1418/1418 [==============================] - 7s 5ms/step - loss: 12.1904 - val_loss: 3.2102
Epoch 2/5
1418/1418 [==============================] - 5s 4ms/step - loss: 2.3498 - val_loss: 1.6164
Epoch 3/5
1418/1418 [==============================] - 5s 4ms/step - loss: 1.1415 - val_loss: 1.3386
Epoch 4/5
1418/1418 [==============================] - 5s 4ms/step - loss: 0.8405 - val_loss: 1.2625
Epoch 5/5
1418/1418 [==============================] - 5s 4ms/step - loss: 0.6976 - val_loss: 1.2397

In [28]:
from tensorflow.keras.layers import Concatenate, Dense, Dropout
def RecommenderNet(n_users, n_movies, n_factors, min_rating, max_rating):
    user = Input(shape=(1,))
    u = EmbeddingLayer(n_users, n_factors)(user)
    
    movie = Input(shape=(1,))
    m = EmbeddingLayer(n_movies, n_factors)(movie)
    
    x = Concatenate()([u, m])
    x = Dropout(0.05)(x)
    
    x = Dense(10, kernel_initializer='he_normal')(x)
    x = Activation('relu')(x)
    x = Dropout(0.5)(x)
    
    x = Dense(1, kernel_initializer='he_normal')(x)
    x = Activation('sigmoid')(x)
    x = Lambda(lambda x: x * (max_rating - min_rating) + min_rating)(x)
    model = Model(inputs=[user, movie], outputs=x)
    opt = Adam(lr=0.001)
    model.compile(loss='mean_squared_error', optimizer=opt)
    return model

In [29]:
model = RecommenderNet(n_users, n_movies, n_factors, min_rating, max_rating)
model.summary()

Model: "functional_7"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_12 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
input_13 (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
embedding_21 (Embedding)        (None, 1, 50)        30500       input_12[0][0]
__________________________________________________________________________________________________
embedding_22 (Embedding)        (None, 1, 50)        486200      input_13[0][0]
__________________________________________________________________________________________________
reshape_17 (Reshape)            (None, 50)           0           embedding_21[0][0]
__________________________________________________________________________________________________
reshape_18 (Reshape)            (None, 50)           0           embedding_22[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 100)          0           reshape_17[0][0]
                                                                 reshape_18[0][0]
__________________________________________________________________________________________________
dropout (Dropout)               (None, 100)          0           concatenate[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 10)           1010        dropout[0][0]
__________________________________________________________________________________________________
activation_2 (Activation)       (None, 10)           0           dense[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 10)           0           activation_2[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 1)            11          dropout_1[0][0]
__________________________________________________________________________________________________
activation_3 (Activation)       (None, 1)            0           dense_1[0][0]
__________________________________________________________________________________________________
lambda_2 (Lambda)               (None, 1)            0           activation_3[0][0]
==================================================================================================
Total params: 517,721
Trainable params: 517,721
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
history = model.fit(x=X_train_array, y=y_train, batch_size=64, epochs=5,
                    verbose=1, validation_data=(X_test_array, y_test))

Epoch 1/5
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001ABF9CE24C8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001ABF9CE24C8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
1416/1418 [============================>.] - ETA: 0s - loss: 1.0554WARNING:tensorflow:AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x000001AD191E5168> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x000001AD191E5168> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
1418/1418 [==============================] - 6s 4ms/step - loss: 1.0551 - val_loss: 0.7909
Epoch 2/5
1418/1418 [==============================] - 5s 4ms/step - loss: 0.7498 - val_loss: 0.7746
Epoch 3/5
  99/1418 [=>............................] - ETA: 4s - loss: 0.6653